body{
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
}

h1 {
    color: white; 
    background-color: rgba(128, 128, 128, 0.452);
    padding: 10px; 
    border-radius: 10px ; 
    text-transform: uppercase; 
    font-size: 36px; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  

#myInput{

    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
}
#addTask{

    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;

}
ul{
    justify-content: center;
    list-style-type:none;
    padding: 0;
    /* width: 50%; */

   


}

li{

    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    background-color: rgba(128, 128, 128, 0.452);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.crossIcon{

    font-size: 20px;
    color: red;
    cursor: pointer;
    transform: scale(1.5);
    padding-right: 10px;
}

.crossIcon:hover{

    transform: scale(2)
}

.checkbox{
    transform: scale(1.5);
}
.checkbox:hover{
    transform: scale(2.5);
}


#checkbtn{

    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;

}